
{{> menu}}

<form class="box" action="/craft/{{spot.craftid}}/spot/{{spot._id}}" method="POST">
  <label class="label">Enter Updated Spot Details:</label>
  <div class="field is-horizontal has-background-success-light">
    <div class="field-body">
      <div class="field">
        <label class="label">Place Name</label>
        <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="placeName" value="{{spot.placeName}}" />
      </div>
      <div class="field">
        <label class="label">Latitude</label>
        <input class="input" type="number" step="0.0000001" maxlength="10" min="-90.0000000" max="90.0000000" name="lat" value="{{spot.lat}}" />
      </div>
      <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="number" step="0.0000001" maxlength="10" min="-180.0000000" max="180.0000000" name="lng" value="{{spot.lng}}" />
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea is-input has-fixed-size" type="text" maxlength="280" pattern="[A-Za-z\\s]+{1,20}" name="description">{{spot.description}}</textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select is primary">
            <select name="category" id="category">
              <option>Choose Category</option>
              <option value="Shop">Shop</option>
              <option value="Class" selected>Class</option>
              <option value="Exhibition">Exhibition</option>
              <option value="Knitnight">Knit Night</option>
              <option value="Festival">Festival</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="button is-link">Update Spot</button>
</form>